
<div class="row">
  <div class="col-md-12">
    <ul class="list-group  overflow-auto"  style="max-height: 400px;">
      <li class="list-group-item" *ngFor="let chat of chats">
        <h6>Sent by : <span class="badge badge-success">{{ chat.name }}</span></h6>
        <p>
          {{ chat.message }}
        </p>
        <p class="text-primary mt-0 mb-0">
          <em>Created at : {{ chat.created_at | date:'dd/MM/y hh:mm:ss' }}</em>
        </p>
      </li>
    </ul>

    <div class="form-group mt-5" *ngIf="(name)">
      <input (keyup.enter)="addChat()" [(ngModel)]="chat.message" type="text" class="form-input" style="min-width: 100%" placeholder="Lorem ipsum..." required>
      <p class="text-muted"><em>Type enter to send your message</em></p>
    </div>
  </div>
</div>
